body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

* {
    border: 1px dotted black;
    box-sizing: border-box;
}

/* #region HORIZONTAL LIST */

.horizontal-list {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
}

.horizontal-list > div {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 40px;
    min-width: 40px;
    padding: 0;
}

.horizontal-list > div > span {
    display: inline-block;
    margin: 4px;
    margin-left: 0;
    height: 32px;
    min-width: 32px;
}

.horizontal-list > div > span:first-child {
    margin-left: 4px;
}

.horizontal-list span.divisor {
    display: inline-block;
    height: 20px;
    width: 1px;
    min-width: 0;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .25);
}

/* #endregion HORIZONTAL LIST */

/* #region KANBAN BOARD */

div.kanban-board {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 0;
}

div.kanban-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 280px;
    height: fit-content;
    margin: 10px;
    margin-left: 0;
    padding: 7px;
    padding-bottom: 0;

    border-radius: 5px;

    background-color: #EBECF0;

    border: 0;
}

div.kanban-column > * {
    margin-bottom: 7px;
}

div.kanban-column:first-child {
    margin-left: 10px;
}

.kanban-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.kanban-title > p {
    width: 200px;
    height: 30px;
    margin: 0;
}

.kanban-title > button {
    width: 30px;
    height: 30px;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: calc(100vh - 170px);

    border: 0;
}

.card-container > div.card:not(:last-child) {
    margin-bottom: 7px;
}

.add-card-container {
    border: 0;
    color: rgb(108, 117, 131);
}

.add-card-container:hover {
    cursor: pointer;
    color: #393E46;
}

.add-card-container * {
    border: 0;
}

/* #endregion KANBAN BOARD */

/* #region CARD */

div.card {
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 3px;

    background-color: #FFFFFF;

    border: 0;
    border-bottom: 1px solid #9A9A9A;
}

div.card-sticker-container {
    padding: 0;
    border: 0;
}

span.card-sticker {
    display: inline-block;
    height: 10px;
    width: 32px;
    border-radius: 5px;

    margin: 0;
    padding: 0;

    margin-left: 3px;
}

span.card-title {
    display: block;

    margin-left: 3px;
    margin-right: 3px;

    margin-top: 3px;
    margin-bottom: 7px;

    border: 0;
}

div.card-member-container {
    height: 28px;
    padding: 0;
    margin-top: 5px;

    border: 0;
}

span.member-badge {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 28px;
    width: 28px;
    margin-right: -12px;

    border: 0;
}

span.member-badge > img {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 0;
    padding: 0;
    border-radius: 13px;
    border: 1px solid black;
}

/* #endregion CARD */

/* #region ICONS */

.icon {
    display: inline-block;

    width: 25px;
    height: 25px;
    
    background-color: currentColor;
    
    border: 0;
}

.icon.icon-sm {
    width: 12px;
    height: 12px;
}

.icon.icon-lg {
    width: 45px;
    height: 45px;
}

.icon.cross {
    clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
}

/* #endregion ICONS */


